*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    padding: 1rem;
}

input{
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
}

form{
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 20px;
    padding: 1rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(darkblue,skyblue);  
    color: black;
    text-align: center;
    font-size: 2rem;
}

.instructions{
    display: none;
    font-size: 1.5rem;
    padding: 2rem;
}

ul li{
    list-style-position:outside;
}

.valid{
    list-style-type: "✅";
}

.invalid{
    list-style-type: "❌";
}

button{
    height: 40px;
    width: 80px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: black;
    color: whitesmoke;
}

input:focus{
    outline: none;
}